---
title: 中信兄弟官網行動版
layout: 'works'
worksTitle: '中信兄弟官網行動版'
worksImg: '../images/main_works_brothersm.jpg'
worksTime: '2015.06～2015.09'
worksInfo: '中信兄弟官網超過50%以上為行動裝置流量。行動版設計以使用者與網站互動和操作易用性的觀點出發，在導覽、資訊呈現與功能等部份放入許多電腦版網站不足的細節，藉此提昇球迷使用網站時更好的操作體驗。'
worksTantou: 'UX設計｜UI設計（主視覺以外的部份）'
---
h3.title.title--subtitle Case Study
img src="../images/feature_works_brothersm_1.jpg" alt=""/
h4.title.title--content 導覽設計
p 活用行動裝置的操作習慣，導覽列採取滑動設計。
img src="../images/feature_works_brothersm_2.jpg" alt=""/
h4.title.title--content 配合螢幕大小調整資訊
p 電腦版網站的月曆模式並不適用於行動版，基於球迷的需求與系統限制下，將行事曆調整為直行列表模式。


		  