---
title: 愛舉手問答學習社群平台
layout: 'works'
worksTitle: '愛舉手問答學習社群平台'
worksImg: '../images/main_works_ihands.jpg'
worksTime: '2014.06～2015.03'
worksInfo: '愛舉手平台為一鎖定考生族群的問答平台。任何人都可以免費加入會員，進行發問或回答。另外也提供收費的專家回答機制，可以支付付費點數請專家回答問題，快速取得專業的答案。'
worksTantou: '調查研究｜功能規格制定｜資訊架構｜UX設計'
---
h3.title.title--subtitle Case Study
img src="../images/feature_works_ihands_1.jpg" alt=""/
h4.title.title--content 問答系統
p 任何人都可以在平台上進行發問或回答問題，也可以針對問題進行評價、追蹤或收藏。
img src="../images/feature_works_ihands_2.jpg" alt=""/
h4.title.title--content 專家回答
p 平台上有各個領域的駐站專家/老師，可以支付點數請老師回答問題，進行專家解惑。

		  