---
title: 中信紅利點數專區《玩點子》
layout: 'works'
worksTitle: '中信紅利點數專區《玩點子》UI提案'
worksImg: '../images/main_works_playpoints.jpg'
worksTime: '2015.07～2015.09'
worksInfo: '《玩點子》為中信官方紅利點數平台，負責教育卡友如何使用點數服務。透過提供整合點數服務資訊並提供輔助資訊與功能，讓卡友可以快速了解點數的多種用途，並且輕鬆使用點數。'
worksTantou: '價值主張設計、內容規劃、UX設計、UI設計提案'
---
h3.title.title--subtitle UI 提案
img src="../images/feature_works_playpoints_1.jpg" alt=""/
img src="../images/feature_works_playpoints_2.jpg" alt=""/
img src="../images/feature_works_playpoints_3.jpg" alt=""/
		  