---
title: Plurk Crowds
layout: 'works'
worksTitle: 'Plurk Crowds'
worksImg: '../images/main_works_plurkc.jpg'
worksTime: '2015.07～開發中'
worksInfo: 'Plurk Crowds 是一直以來個人很想做的 chrome 外掛，可以直接在瀏覽器右上角開啟外掛視窗，就能閱讀 Plurk 河道上的內容。'
worksTantou: '功能規劃設計｜UX、UI設計｜程式開發'
---
h3.title.title--subtitle UI 設計
img src="../images/feature_works_plurkc_1.jpg" alt=""/
img src="../images/feature_works_plurkc_2.jpg" alt=""/


		  